<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Nuevo productos</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/createAndEditProduct.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/navbar')%>
    <!-- /Header -->

    <!-- todos los productos -->
    <div class="container products-wrapper">
      <div class="">
        <section class="section-top" id="top">
          <h2 class="section-top_title">Lo discos más populares</h2>
          <% for(const disc of popularDiscs) { %>
          <article class="top-article-disk">
            <a href="/products/detail/<%= disc.id %>">
              <img class="top-disk-img" src="/images/covers/<%= disc.img %>" />
            </a>
            <p><%= disc.title %></p>
            <p><%= disc.artist %></p>
            <p>$<%= disc.price %> MXN</p>
          </article>
          <% } %>
        </section>
      </div>
    </div>
    <!-- /todos los productos -->

    <!-- footer -->
    <%- include('../partials/footer')%>
    <!-- /footer -->
    <script src="/js/index.js"></script>
  </body>
</html>
