<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Nuevo productos</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/createAndEditProduct.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/navbar')%>
    <!-- /Header -->
    <main>
      <h2 class="create-title">Vende tus viniles aqui</h2>
      <form
        action="/products"
        method="POST"
        class="create-form form-holder"
        enctype="multipart/form-data"
      >
        <div class="control-form">
          <label for="title" class="form-label">Nombre del álbum</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= locals.oldData ? oldData.title : null %>"
          />

          <% if (locals.errors && errors.title) { %>
          <div class="text-danger"><%= errors.title.msg %></div>
          <% } %>
        </div>

        <div class="control-form">
          <label for="artist" class="form-label">Nombre del artista</label>
          <input
            type="text"
            id="artist"
            name="artist"
            value="<%= locals.oldData ? oldData.artist : null %>"
          />

          <% if (locals.errors && errors.artist) { %>
          <div class="text-danger"><%= errors.artist.msg %></div>
          <% } %>
        </div>

        <div class="control-form">
          <label for="description" class="form-label"
            >Descripción del disco</label
          >
          <textarea
            name="description"
            id="description"
            rows="10"
            cols="53"
            value="<%= locals.oldData ? oldData.description : null %>"
          >
          </textarea>

          <% if (locals.errors && errors.description) { %>
          <div class="text-danger"><%= errors.description.msg %></div>
          <% } %>
        </div>

        <div class="control-form">
          <label for="tracklist" class="form-label">Lista de tracks</label>
          <input
            type="text"
            name="tracklist"
            id="tracklist"
            cols="10"
            rows="10"
            placeholder="Cada track separado por una coma. Ejem: Let it be, Dig it  "
            value="<%= locals.oldData ? oldData.tracklist : null %>"
          />

          <% if (locals.errors && errors.tracklist) { %>
          <div class="text-danger"><%= errors.tracklist.msg %></div>
          <% } %>
        </div>

        <div class="control-form">
          <label for="image">Sube una imagen de portada</label>
          <input
            type="file"
            id="image"
            name="image"
            value="<%= locals.oldData ? oldData.image : null %>"
          />
          
          <% if (locals.errors && errors.image) { %>
            <div class="text-danger"><%= errors.image.msg %></div>
            <% } %>
         
        </div>

        <div class="info">
          <div class="control-form categories">
            <div class="category-options">
              <label for="genre"><b>Género musical</b></label>
              <select name="genre">
                <option value="" disabled selected>Elige uno</option>
                
                <% allGenres.forEach(OneGenre => { %>
                  <option 
                  value="<%= OneGenre.id_genres %>"
                    <%= locals.oldData && OneGenre.id_genres == oldData.genre ? 'selected' : null %>
                    >
                    <%= OneGenre.name %>
                  </option>
                <% }) %>       

              </select>
         
              <% if (locals.errors && errors.genre) { %>
              <div class="text-danger"><%= errors.genre.msg %></div>
              <% } %>

            </div>
          </div>

          <div class="control-form date">
            <label for="release_date" class="form-label">Fecha</label>
            <input type="date" name="release_date" class="control" id="" required>
          </div>

          <div class="control-form price">
            <label for="price" class="form-label">Precio en MX</label>
            <input type="number" name="price" id="price" value="<%= locals.oldData ? oldData.price : null %>"/>

            <% if (locals.errors && errors.price) { %>
            <div class="text-danger"><%= errors.price.msg %></div>
            <% } %>
          </div>

          <div class="control-form categories">
            <div class="category-options">
              <label for="category">Categoría</label>
              <select name="id_categories" required>
                <option 
                  value="" disabled selected >Elige uno</option>
                  <% allCategories.forEach(oneCategory => { %>
                    <option 
                    value="<%= oneCategory.id_categories %>"
                    <%= locals.oldData && oneCategory.id_categories == oldData.id_categories ? 'selected' : null %>
                    >
                      <%= oneCategory.name %>
                    </option>
                  <% }) %>

              </select>

              <% if (locals.errors && errors.id_categories) { %>
              <div class="text-danger"><%= errors.category.msg %></div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <div class="btn-form">
            <button type="submit" class="form-btn confirm">
              Guardar Disco
            </button>
          </div>

          <!-- <div class="btn-form">
            <button type="reset" class="form-btn delete">Borrar</button>
          </div>

          <div class="btn-form">
            <button type="submit" class="form-btn edit">Editar</button>
          </div> -->
        </div>
      </form>
    </main>
    <%- include('../partials/footer')%>
    <script src="/js/index.js"></script>
    <script>
      dropContainer.ondragover = dropContainer.ondragenter = function (evt) {
        evt.preventDefault();
      };

      dropContainer.ondrop = function (evt) {
        // pretty simple -- but not for IE :(
        fileInput.files = evt.dataTransfer.files;

        // If you want to use some of the dropped files
        const dT = new DataTransfer();
        dT.items.add(evt.dataTransfer.files[0]);
        dT.items.add(evt.dataTransfer.files[3]);
        fileInput.files = dT.files;

        evt.preventDefault();
      };
    </script>
  </body>
</html>
