<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Nuevo productos</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/createAndEditProduct.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/navbar')%>
    <!-- /Header -->
    <main>
      <h2 class="create-title">Estas editando <%= albumToEdit.title %></h2>
      <h4 class="ms-error"></h4>
      <form
        action="/products/edit/<%= albumToEdit.id_albums %>?_method=PUT"
        method="POST"
        class="create-form form-holder"
        id="edit-form"
      >
        <div class="control-form">
          <label for="title" class="form-label">Nombre del álbum</label>
          <input
          class="control-form-input"
            type="text"
            id="title"
            name="title"
            value="<%= albumToEdit.title %>"
          />
          <div class="is-invalid"></div>

          <% if (locals.errors && errors.title) { %>
          <div class="text-danger"><%= errors.title.msg %></div>
          <% } %>
        </div>
        <div class="control-form">
          <label for="artist" class="form-label">Nombre del artista</label>
          <input
          class="control-form-input"
            type="text"
            id="artist"
            name="artist"
            value="<%= albumToEdit.artist.name %>"
          />
          <div class="is-invalid"></div>

          <% if (locals.errors && errors.artist) { %>
          <div class="text-danger"><%= errors.artist.msg %></div>
          <% } %>
        </div>

        <div class="control-form">
          <label for="description" class="form-label"
            >Descripción del disco</label
          >
          <textarea class="control-form-input" name="description" id="description" rows="10" cols="53"><%= albumToEdit.description %></textarea>
          <div class="is-invalid"></div>

          <% if (locals.errors && errors.description) { %>
          <div class="text-danger"><%= errors.description.msg %></div>
          <% } %>
        </div>

        <div class="control-form">
          <label for="tracklist" class="form-label">Lista de tracks</label>
          <input
          class="control-form-input"
            type="text"
            name="tracklist"
            id="tracklist"
            cols="10"
            rows="10"
             value = "<%= allAlbumSongs %>"
          />
          <div class="is-invalid"></div>

          <% if (locals.errors && errors.tracklist) { %>
          <div class="text-danger"><%= errors.tracklist.msg %></div>
          <% } %>
        </div>
      
        <div class="info">
          <div class="control-form categories">
            <div class="category-options">
              <label for="genre">Género musical</label>
              <select name="genre" class="control-form-input">
                
                <% allGenres.forEach(oneGenre => { %>
                  <option value="<%= oneGenre.id_genres %>"
                    <% if (albumToEdit.id_genre == oneGenre.id_genres) { %>
                      <%= 'selected' %>
                  <% }; %>
                    >
                    <%= oneGenre.name %>
                  </option>
                <% }) %>       

              </select>
              <div class="is-invalid"></div>
         
              <% if (locals.errors && errors.genre) { %>
              <div class="text-danger"><%= errors.genre.msg %></div>
              <% } %>

            </div>
          </div>

          <div class="control-form date">
            <label for="release_date" class="form-label">Fecha</label>
            <input
              value="<%= albumToEdit.release_date %>"
              type="date"
              name="release_date"
              class="control-form-input"
              id="release_date"
            />
            <div class="is-invalid"></div>
          </div>

          <div class="control-form price">
            <label for="price" class="form-label">Precio:</label>
            <input
            class="control-form-input"
              type="number"
              name="price"
              id="price"
              value="<%= albumToEdit.price %>"
            />
            <div class="is-invalid"></div>
            <% if (locals.errors && errors.price) { %>
            <div class="text-danger"><%= errors.price.msg %></div>
            <% } %>
          </div>

          <div class="control-form categories">
            <div class="category-options">
              <label for="category">Categoría</label>
              <select name="id_categories" required class="control-form-input">
                  <% allCategories.forEach(oneCategory => { %>
                    <option value="<%= oneCategory.id_categories %>"
                    <% if (albumToEdit.id_category == oneCategory.id_categories) { %>
                     <%= 'selected' %>
                    <% } %>
                    >
                      <%= oneCategory.name %>
                    </option>
                  <% }) %>
              </select>
              <div class="is-invalid"></div>
              <% if (locals.errors && errors.id_categories) { %>
              <div class="text-danger"><%= errors.id_categories.msg %></div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <div class="btn-form">
            <button type="submit" class="form-btn confirm">
              Guardar Disco
            </button>
          </div>

         
        </div>
      </form>
    </main>
    <%- include('../partials/footer')%>
    <script src="/js/index.js"></script>
   
  </body>
</html>
