<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include('../partials/navbar')%>
    <main>
      <div class="row footer-row">
        <section class="product-column product-pics">
          <div class="main-image">
            <img id="imgBuy" src="/images/covers/<%= album.image %>" />
          </div>
        </section>

        <section class="product-column product-info">
          <article>
            <div class="product-details">
              <h4 id="titleBuy">
                <%= album.title %> - <%= album.artist.name %>
              </h4>
            </div>

            <div class="product-price">
              <div class="add-btn">
                <form action="/car/<%= album.id_albums %>" method="POST">
                  <button id="buyBotton" type="submit">Comprame</button>
                </form>

                <% if (locals.isLogged) { %>
                <button class="form-btn edit">
                  <a href="/products/edit/<%= album.id_albums %>">Editar</a>
                </button>
                <form
                  action="/products/delete/<%= album.id_albums %>?_method=DELETE"
                  method="POST"
                >
                  <button type="submit" class="form-btn delete">Borrar</button>
                </form>
                <% } %>
              </div>
              <div class="price">
                <h3 id="priceBuy">
                  $<%=album.price %> <span class="moneda">MXN</span>
                </h3>
              </div>
            </div>

            <div class="product-details">
              <h4>Detalles</h4>

              <p><%= album.description %></p>

              <h4>Tracklist</h4>
              <ul class="tracks">
                <% for(let i = 0; i < album.songs.length; i++) { %>
                <li><%= album.songs[i].name%></li>
                <% } %>
              </ul>
            </div>
          </article>
        </section>
      </div>
    </main>
    <%- include('../partials/footer')%>
    <script src="/js/index.js"></script>
    <script src="/js/productDetail.js"></script>
  </body>
</html>
