<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include('./partials/navbar')%>
    <main>
      <section class="carrousel">
        <a href="/products/detail" class="grande">
          <img class="img" src="/images/vinilo_baner1.jpg" />
          <img class="img" src="/images/vinilo_baner2.jpg" />
        </a>
        <ul class="puntos">
          <li class="punto"></li>
          <li class="punto"></li>
        </ul>
      </section>
      <section class="section-top" id="top">
        <h2 class="section-top_title">Lo más top</h2>
        <% for(const disc of topDiscs) { %>
        <article class="top-article-disk">
          <a href="/products/detail/<%= disc.id %>">
            <img class="top-disk-img" src="/images/covers/<%= disc.img %>" />
          </a>
          <p><%= disc.artista %></p>
          <p><%= disc.titulo%></p>
        </article>
        <% } %>
      </section>

      <section class="section-top popular" id="populares">
        <h2 class="section-top_title">Ediciones populares</h2>
        <% for(const disc of popularDiscs) { %>
        <article class="top-article-disk">
          <a href="/products/detail/<%= disc.id %>">
            <img class="top-disk-img" src="/images/covers/<%= disc.img %>" />
          </a>
          <p><%= disc.artista %></p>
          <p><%= disc.titulo %></p>
        </article>
        <% } %>
      </section>

      <section class="section-top" id="mas_vendido">
        <h2 class="section-top_title">Ediciones más vendidas del mes</h2>
        <% for(const disc of moreSaleDiscs) { %>
        <article class="top-article-disk">
          <a href="/products/detail/<%= disc.id %>">
            <img class="top-disk-img" src="/images/covers/<%= disc.img %>" />
          </a>
          <p><%= disc.artista %></p>
          <p><%= disc.titulo %></p>
        </article>
        <% } %>
      </section>
    </main>
    <%- include('./partials/footer')%>

    <script src="/js/index.js"></script>
  </body>
</html>
