<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/userProfile.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include('../partials/navbar')%>

    <!-- Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Hola <%= user.full_name %></h2>
          <img class="avatar" src="/images/avatars/<%= user.avatar %> " />
          <br />
          <br />
          <div class="alert alert-success"><%= user.email %></div>

          <div>
            <a
              class="form-btn"
              href="/users/profile/editName/<%= user.id_users %>"
              >Editar nombre</a
            >
          </div>
          <div>
            <a
              class="form-btn"
              href="/users/profile/editEmail/<%= user.id_users %>"
              >Editar email</a
            >
          </div>
          <div>
            <a
              class="form-btn"
              href="/users/profile/editPassword/<%= user.id_users %>"
              >Editar password</a
            >
          </div>

          <div>
            <a class="form-btn" href="/users/logout">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
    <!-- //Container -->

    <%- include('../partials/footer')%>
    <script src="/js/index.js"></script>
  </body>
</html>
